
@media print {
    body {
        font-size: 18pt;
        font-family: 'Arial Rounded MT';
    }

    @page {
        width: 21cm;
        margin-top: 2cm;
        margin-bottom: 3cm;
        size: A4;
    }
    .mtop {
        margin-top: 7cm !important;
    }
   
    

    /*.mtop {
     margin-top:10%;
    }*/

    .txt-nowrap {
        white-space: nowrap !important;
    }

    .txt-right {
        text-align: right !important;
    }
    .txt-left {
       text-align: left !important;
    }

    .pcol-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .pcol-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .form-row > .col,
    .form-row > [class*="col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }

    .setwidth {
        width: 50%;
    }

    .set-formrow {
        flex: 0 0 50%;
        max-width: 100%;
    }

    .col-xs-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
    .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    }

    .col-xs-12 {
        width: 100%;
    }

    .col-xs-11 {
        width: 91.66666666666666%;
    }

    .col-xs-10 {
        width: 83.33333333333334%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-8 {
        width: 66.66666666666666%;
    }

    .col-xs-7 {
        width: 58.333333333333336%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-5 {
        width: 41.66666666666667%;
    }

    .col-xs-4 {
        width: 33.33333333333333%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-2 {
        width: 16.666666666666664%;
    }

    .col-xs-1 {
        width: 8.333333333333332%;
    }
}
