body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.responsive-pt-5 {
    padding-top: 48px;
}
.responsive-table {
 width:auto;
}
@media (min-width: 1200px) {
    .responsive-table {
        width: 100%;
    }
}

@media (min-width: 425px) {
    .responsive-pt-5 {
        padding-top: 48px;
    }
}
@media (min-width: 576px) {
    .responsive-pt-5 {
       padding-top:10px;
    }
}

@media (min-width: 768px) {
    .responsive-pt-5 {
        padding-top: 35px;
    }
}
@media (min-width: 992px) {
    .responsive-pt-5 {
        padding-top: 15px;
    }
}
@media (min-width: 1200px) {
    .responsive-pt-5 {
        padding-top: 10px;
    }
}