<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-black">
    <a class="navbar-brand" href="#"><img src="~/Content/image/logo.png" style="height:60px; width:auto" /></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            @*<li class="nav-item active">@Html.ActionLink("Applicant Tracking System", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link bg-black" })</li>*@            
        </ul>        
    </div>
</nav>